body {
    background: #eef;
}

.navbar-default {
    background-color: #607D8B;
    border-color: #E91E63;
}

.navbar-default .navbar-nav > li > a, .navbar-default .navbar-brand {
    color: #acbdcf;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:active,
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:active {
    color: #fff;
    transition: color 0.5s;
}

.navbar-fixed-top {
    top: 0;
    border-width: 0 0 4px;
}

.content-container {
    margin-top: 50px;
}

.about-me {
    padding: 4px !important;
}

.about-me > img {
    border-radius: 3px;
}

.page-title {
    margin: 30px 0;
    background: #fff;
    padding: 20px;
    color: #607d8b;
    border-bottom: 1px solid #E91E63;
    border-radius: 10px 10px 0 0;
}

.gist-item {
    padding: 0;
    margin: 0;
}

.gist-item a {
    display: block;
    padding: 20px;
    background: #fff;
    color: #607D8B;
}

.gist-item a:focus {
    text-decoration: none;
}

.gist-item a:hover, .gist-item a:active {
    background: #f8f8ff;
    text-decoration: none;
    color: #E91E63;
    border-left: 3px solid;
    padding-left: 35px;
    transition: background-color 0.7s, color 0.7s, border-color 0.7s, padding-left 0.3s;
}

.dir-pagination-controls {
    display: block;
    text-align: center;
}

.dir-pagination-controls li a {
    padding: 15px 23px;
    color: #607D8B;
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover {
    z-index: 2;
    color: #607D8B;
    background-color: #eee;
    transition: background-color 0.7s, color 0.7s, border-color 0.7s;
    border-color: #f8f8ff;
    border-bottom-color: #E91E63;
}

.pagination > .active > a,
.pagination > .active > a:focus,
.pagination > .active > a:hover,
.pagination > .active > span,
.pagination > .active > span:focus,
.pagination > .active > span:hover {
    z-index: 3;
    color: #E91E63;
    background-color: #f8f8ff;
    border-color: #f8f8ff;
    border-bottom-color: #E91E63;
    transition: background-color 0.7s, color 0.7s, border-color 0.7s;
}

.cv {
    color: #607D8B;
    font-size: 16px;
}

.cv-section {
    background: #fff;
    padding: 30px;
    border-radius: 4px;
    overflow: hidden;
    margin-bottom: 30px;
}

.intro {

    background: #fff;
}

.cv-section address {
    margin-top: 20px;
    max-width: 450px;
}

.contact-link {
    text-decoration: none;
    display: block;
    margin: 3px;
}

.contact-link:hover, .contact-link:active, .contact-link:visited, .contact-link:focus {
    text-decoration: none;
}

.cv-header {
    margin: 0 0 20px 0;
    border-bottom: 1px solid #E91E63;
    padding-bottom: 15px;
}

.my-thumbnail {
    border: none;
    display: inline-block;
    float: left;
    margin: 0 40px 20px 0;
}

.my-thumbnail img {
    width: 150px;
}

.skill {
    font-style: normal;
    border: 1px solid #607D8B;
    padding: 7px 12px;
    border-radius: 3px;
    cursor: pointer;
    display: inline-block;
    margin: 0 3px 8px 0;
}

.skill:hover {
    border: 1px solid #E91E63;
    background: #607D8B;
    color: #fff;
    transition: background-color 0.7s, color 0.7s, border-color 0.7s;
}

.lang-container {
    height: 70px;
    line-height: 70px;
}

.lang {
    font-style: normal;
    font-size: 18px;
}

.exp {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: -1px;
}

.exp-header {
    border-bottom: 1px solid #f3f3f3;
}

.description-header {
    font-size: 17px;
}

.cert-download {
    color: #607D8B;
}