<h1 class="page-title">My CV</h1>

<article class="cv">
    <section class="cv-section intro">
        <div class="my-thumbnail">
            <img src="/images/me.jpg" alt="My Photo">
        </div>
        <h2 class="cv-header" style="margin-left: 190px;">Umid Almatov / Web Developer</h2>
        <address>
            <a href="tel:+998901304527" class="contact-link">
                <img src="/images/phone.png" alt="Phone" width="32"> +998 90 130-45-27
            </a>
            <a href="https://telegram.me/umid_almatov" class="contact-link">
                <img src="/images/telegram.png" alt="Telegram" width="32"> @umid_almatov
            </a>
            <a href="mailto:almatov.us@gmail.com" class="contact-link">
                <img src="/images/email.png" alt="Email" width="32"> almatov.us@gmail.com
            </a>
            <a href="https://www.google.com/maps/place/Tashkent,+Uzbekistan/@41.2825124,69.1392827,11z/data=!3m1!4b1!4m5!3m4!1s0x38ae8b0cc379e9c3:0xa5a9323b4aa5cb98!8m2!3d41.2994958!4d69.2400734"
               class="contact-link" target="_blank">
                <img src="/images/home.png" alt="Location" width="32"> Uzbekistan, Tashkent
            </a>
        </address>
    </section>

    <section class="cv-section">
        <h2 class="cv-header">Summary</h2>
        I am a self-motivated and result-driven Web Developer with 5 years of industry experience with web related
        technologies.
        I fell in love with JavaScript a few month ago and now live, eat and breathe the language.
        I'm able to write in vanilla JavaScript, but are also competent in libraries and frameworks such as Angular,
        Node, Express, jQuery.
        I love getting involved in all parts of the development process.
        I'm creative and keen to push forward internal development through participating in guides, sharing knowledge
        and keeping on top of the latest technologies.
        I'm quiet and focused person who can work effectively either alone or as part of a team.
    </section>

    <section class="cv-section">
        <h2 class="cv-header">Experience</h2>

        <section class="exp">
            <header class="exp-header">
                <h3 class="exp-position">PHP Engineer</h3>
                <h4 class="exp-company">Aurea Software</h4>
                <h5 class="exp-period">Jan 2016 - Apr 2016 | Remote</h5>
            </header>
            <div class="description">
                <h5 class="description-header">Responsibilities:</h5>
                <ul>
                    <li>Fixing reported issues by CI & Sonar</li>
                </ul>
                <h5 class="description-header">Skills Uses:</h5>
                <i class="skill">PHP</i>
                <i class="skill">SonarQube</i>
                <i class="skill">MySQL</i>
                <i class="skill">AWS</i>
                <i class="skill">CI</i>
            </div>
        </section>

        <section class="exp">
            <header class="exp-header">
                <h3 class="exp-position">Web Developer</h3>
                <h4 class="exp-company">The Main Center of Informatization of the Central Bank</h4>
                <h5 class="exp-period">Feb 2014 - Nov 2015 | Uzbekistan</h5>
            </header>
            <div class="description">
                <h5 class="description-header">Responsibilities:</h5>
                <ul>
                    <li>Developing web applications</li>
                    <li>Administering web servers</li>
                </ul>

                <h5 class="description-header">Accomplishments:</h5>
                <ul>
                    <li>Participated in front-end side of the Pledge registry of the Republic of Uzbekistan</li>
                    <li>Participated in front-end side of the Clearing center for National Bank of Uzbekistan</li>
                </ul>

                <h5 class="description-header">Skills Uses:</h5>
                <i class="skill">PHP</i>
                <i class="skill">Yii</i>
                <i class="skill">AngularJS</i>
                <i class="skill">Bootstrap</i>
                <i class="skill">HTML5</i>
                <i class="skill">CSS3</i>
                <i class="skill">jQuery</i>
                <i class="skill">AJAX</i>
                <i class="skill">JSON</i>
                <i class="skill">REST</i>
                <i class="skill">Oracle</i>
                <i class="skill">PL/SQL</i>
                <i class="skill">Linux</i>
                <i class="skill">Bash</i>
            </div>
        </section>

        <section class="exp">
            <header class="exp-header">
                <h3 class="exp-position">Web Developer</h3>
                <h4 class="exp-company">Brander/RayBT</h4>
                <h5 class="exp-period">Aug 2013 - Jan 2014 | Uzbekistan</h5>
            </header>
            <div class="description">
                <h5 class="description-header">Responsibilities:</h5>
                <ul>
                    <li>Developing web applications & tools</li>
                    <li>Administering web servers</li>
                </ul>

                <h5 class="description-header">Accomplishments:</h5>
                <ul>
                    <li>
                        YaBlock - to parse prices of products on Yandex Market and set bids to offer company products
                        for premium positions
                    </li>
                    <li>
                        AJAX File Uploader component - file uploader & manager to choose files locally for uploading or
                        remotely (from web server) to use on web UIs, written using custom CMS API
                    </li>
                    <li>
                        AJAX Table Manager component - with inline editing, filtering, sorting & previewing web content
                        contents features, written using custom CMS API
                    </li>
                </ul>

                <h5 class="description-header">Skills Uses:</h5>
                <i class="skill">PHP</i>
                <i class="skill">Yii</i>
                <i class="skill">CURL</i>
                <i class="skill">Guzzle</i>
                <i class="skill">HTML5</i>
                <i class="skill">CSS3</i>
                <i class="skill">Bootstrap</i>
                <i class="skill">JavaScript</i>
                <i class="skill">jQuery</i>
                <i class="skill">AJAX</i>
                <i class="skill">JSON</i>
                <i class="skill">XML</i>
                <i class="skill">REST</i>
                <i class="skill">Yandex Market API</i>
                <i class="skill">MySQL</i>
                <i class="skill">Linux</i>
                <i class="skill">Bash</i>
            </div>
        </section>

        <section class="exp">
            <header class="exp-header">
                <h3 class="exp-position">Software Engineer</h3>
                <h4 class="exp-company">UzMedInfo</h4>
                <h5 class="exp-period">Apr 2013 - Jul 2013 | Uzbekistan</h5>
            </header>
            <div class="description">
                <h5 class="description-header">Responsibilities:</h5>
                <ul>
                    <li>Developing backend side of company web sites</li>
                    <li>Implementing new features for company web sites & web portal</li>
                    <li>Administering Web Servers & Databases</li>
                    <li>Creating web services</li>
                </ul>

                <h5 class="description-header">Skills Uses:</h5>
                <i class="skill">PHP</i>
                <i class="skill">1C Bitrix</i>
                <i class="skill">HTML5</i>
                <i class="skill">CSS3</i>
                <i class="skill">Bootstrap</i>
                <i class="skill">jQuery</i>
                <i class="skill">Handlebars</i>
                <i class="skill">AJAX</i>
                <i class="skill">JSON</i>
                <i class="skill">XML</i>
                <i class="skill">REST</i>
                <i class="skill">SOAP</i>
                <i class="skill">MySQL</i>
                <i class="skill">Linux</i>
                <i class="skill">Bash</i>
            </div>
        </section>

        <section class="exp">
            <header class="exp-header">
                <h3 class="exp-position">Software Engineer</h3>
                <h4 class="exp-company">Perfectum Mobile</h4>
                <h5 class="exp-period">Jun 2010 - Dec 2012 | Uzbekistan</h5>
            </header>
            <div class="description">
                <h5 class="description-header">Responsibilities:</h5>
                <ul>
                    <li>Developing applications & tools</li>
                    <li>Writing documentations</li>
                    <li>Technical support</li>
                </ul>

                <h5 class="description-header">Accomplishments:</h5>
                <ul>
                    <li>CRBT API - calling ringback tone manager interface between CRBT platform and Billing system</li>
                    <li>Trunk Stat - load analyzer of channels</li>
                    <li>ContactSync - synchronizing phone contacts using SyncML protocol</li>
                    <li>
                        Robot - multithreaded daemon programs to control client mobile services on various switches
                        (Huawei, Lucent, ZTE, AAA, CRBT)
                    </li>
                    <li>M2000 - platform monitoring system which consists of multi-threaded server and distributed
                        agents, that monitors various components of Windows, Linux servers, databases, programs and
                        sends SMS notifications about important events
                    </li>
                </ul>

                <h5 class="description-header">Skills Uses:</h5>
                <i class="skill">PHP</i>
                <i class="skill">Smarty</i>
                <i class="skill">Apache</i>
                <i class="skill">REST</i>
                <i class="skill">XML</i>
                <i class="skill">JSON</i>
                <i class="skill">Oracle</i>
                <i class="skill">PL/SQL</i>
                <i class="skill">MySQL</i>
                <i class="skill">Java</i>
                <i class="skill">Android SDK</i>
                <i class="skill">J2ME</i>
                <i class="skill">Perl</i>
                <i class="skill">Python</i>
                <i class="skill">HTML</i>
                <i class="skill">CSS</i>
                <i class="skill">Ajax</i>
                <i class="skill">JavaScript</i>
                <i class="skill">jQuery</i>
                <i class="skill">Handlebars</i>
                <i class="skill">SyncML</i>
                <i class="skill">ASN.1</i>
                <i class="skill">Asterisk</i>
                <i class="skill">Linux</i>
                <i class="skill">Solaris</i>
                <i class="skill">Bash</i>
                <i class="skill">Photoshop</i>
                <i class="skill">Power Point</i>
                <i class="skill">Visio</i>
            </div>
        </section>

        <section class="exp">
            <header class="exp-header">
                <h3 class="exp-position">Billing System Administrator</h3>
                <h4 class="exp-company">Super iMax</h4>
                <h5 class="exp-period">Dec 2009 - May 2010 | Uzbekistan</h5>
            </header>
            <div class="description">
                <h5 class="description-header">Responsibilities:</h5>
                <ul>
                    <li>Administering Web Servers</li>
                    <li>Administering Postgre Databases</li>
                    <li>Creating reports</li>
                    <li>Developing tools</li>
                </ul>

                <h5 class="description-header">Skills Uses:</h5>
                <i class="skill">PHP</i>
                <i class="skill">Perl</i>
                <i class="skill">Linux</i>
                <i class="skill">Bash</i>
            </div>
        </section>

        <section class="exp">
            <header class="exp-header">
                <h3 class="exp-position">Billing System Administrator</h3>
                <h4 class="exp-company">UzMobile</h4>
                <h5 class="exp-period">Oct 2005 - Dec 2009 | Uzbekistan</h5>
            </header>
            <div class="description">
                <h5 class="description-header">Responsibilities:</h5>
                <ul>
                    <li>Administering Linux and Web Servers</li>
                    <li>Administering Oracle Databases</li>
                    <li>Writing packages in PL/SQL</li>
                    <li>Creating reports required by other departments</li>
                    <li>Developing applications & tools</li>
                </ul>

                <h5 class="description-header">Accomplishments:</h5>
                <ul>
                    <li>
                        CDR/SMS Parsers - to parse CDR and SMS files from various (Huawei, ZTE, Lucent) switches and to
                        import data into database for later billing
                    </li>
                    <li>
                        Warehouse application - to manage incoming, outgoing and internal movements of the equipments
                    </li>
                </ul>

                <h5 class="description-header">Skills Uses:</h5>
                <i class="skill">C#</i>
                <i class="skill">Delphi</i>
                <i class="skill">HTML</i>
                <i class="skill">CSS</i>
                <i class="skill">MySQL</i>
                <i class="skill">Oracle</i>
                <i class="skill">PL/SQL</i>
                <i class="skill">Linux</i>
                <i class="skill">Bash</i>
            </div>
        </section>
    </section>

    <section class="cv-section">
        <h2 class="cv-header">Education</h2>

        <section class="edu">
            <header class="edu-header">
                <h3 class="edu-university">Tashkent University of Information Technologies</h3>
                <h4 class="edu-faculty">Bachelor of Science (B.S.), Information Technologies</h4>
                <h5 class="edu-period">2001 - 2005</h5>
            </header>
        </section>

    </section>

    <section class="cv-section">
        <h2 class="cv-header">Certifications</h2>

        <section class="cert">
            <header class="cert-header">
                <h3 class="cert-title">
                    M101JS: MongoDB for Node.js Developers
                    <a href="http://education.mongodb.com/downloads/certificates/a3cbf931359f4d4291957632977cc514/Certificate.pdf"
                       class="cert-download"><i class="fa fa-fw fa-download"></i></a>
                </h3>
                <h4 class="cert-authority">MongoDB, Inc.</h4>
                <h5 class="cert-period">Jan 2016 - Mar 2016</h5>
            </header>
        </section>

    </section>

    <section class="cv-section">
        <h2 class="cv-header">Skills</h2>
        <i class="skill">JavaScript</i>
        <i class="skill">ES6</i>
        <i class="skill">ES7</i>
        <i class="skill">Node.js</i>
        <i class="skill">Express.js</i>
        <i class="skill">Angular.js</i>
        <i class="skill">jQuery</i>
        <i class="skill">HTML5</i>
        <i class="skill">CSS3</i>
        <i class="skill">PHP</i>
        <i class="skill">Yii</i>
        <i class="skill">Yii 2</i>
        <i class="skill">Pug</i>
        <i class="skill">Nunjucks</i>
        <i class="skill">SCSS</i>
        <i class="skill">Stylus</i>
        <i class="skill">Less</i>
        <i class="skill">Babel</i>
        <i class="skill">Grunt</i>
        <i class="skill">Gulp</i>
        <i class="skill">Bower</i>
        <i class="skill">Composer</i>
        <i class="skill">Docker</i>
        <i class="skill">Mocha</i>
        <i class="skill">Chai.js</i>
        <i class="skill">Linux</i>
        <i class="skill">Bash</i>
        <i class="skill">MySQL</i>
        <i class="skill">Oracle</i>
        <i class="skill">PL/SQL</i>
        <i class="skill">MongoDB</i>
        <i class="skill">Mongoose</i>
        <i class="skill">Git</i>
        <i class="skill">Telegram Bot API</i>
        <i class="skill">Youtrack REST API</i>
        <i class="skill">Yandex Market API</i>
        <i class="skill">Google Maps API</i>
    </section>

    <section class="cv-section">
        <h2 class="cv-header">Languages</h2>
        <div class="col-sm-4 lang-container">
            <i class="lang">
                <img src="/images/lang_en.png" alt="English" width="64"> English &DoubleLongRightArrow; Intermediate
            </i>
        </div>
        <div class="col-sm-4 lang-container">
            <i class="lang">
                <img src="/images/lang_ru.png" alt="Russian" width="64"> Russian &DoubleLongRightArrow; Fluent
            </i>
        </div>
        <div class="col-sm-4 lang-container">
            <i class="lang">
                <img src="/images/lang_uz.png" alt="Uzbek" width="60"> Uzbek &DoubleLongRightArrow; Native
            </i>
        </div>
    </section>
</article>