<h1 class="page-title">Guides, Tips & Examples</h1>

<ul class="list-unstyled" start="{{1 + (pagination.current - 1) * pagination.itemsPerPage}}">
    <li dir-paginate="gist in gists | itemsPerPage: pagination.itemsPerPage"
        current-page="pagination.current"
        class="gist-item">
        <a href="" ng-click="openContent(gist)" target="_blank">{{ gist.description }}</a>
        <article ng-if="gist.show" class="gist-content" ng-bind-html="gist.html_secure"></article>
    </li>
</ul>

<dir-pagination-controls class="dir-pagination-controls"></dir-pagination-controls>
